.App {
  text-align: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-row-center{
  display: flex;
  justify-content: center;
}
.justify-column-center{
  display: flex;
  align-items: center;
}
.unordered-line{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.horizontal-margins{
  /* margin: 0 5px; */
  margin-right: 5px;
  margin-left: 5px;
}
.vertical-margins{
  margin-top: 5px;
  margin-bottom: 5px;
}
.full-margins{
  margin: 5px;
}